{% extends 'base.html' %}
<!DOCTYPE html>
<html>
	<head></head>
<body>
	{% block body %}
        <div class="container">
            <h1>Site Details - {{site_name}}</h1>

            <table class="table">
                <thead>
                    <tr><td><strong>Date</strong></td>
                    <td><strong>A Value</strong></td><td><strong>B Value</strong></td></tr>
                </thead>
                             
                {% for site in sites %}
                    <tr>
                        <td>{{site.date_value}}</td>
                        <td>{{site.A_value}}</td>
                        <td>{{site.B_value}}</td>
                    </tr>
                {% endfor%}

            </table>
        </div>	
    {% endblock %}
</body>
</html>
