{% extends 'base.html' %}
<!DOCTYPE html>
<html>
	<head></head>
<body>
	{% block body %}
		<div class="container">
			<h1>Sites</h1>
			<ul class="list-group">
				<li class="list-group-item"><a href="/sites/1">Demo Site</a></li>
				<li class="list-group-item"><a href="/sites/2">ABC Site</a></li>
				<li class="list-group-item"><a href="/sites/3">XYZ Site</a></li>
			</ul>
		</div>
		<div>
			<p> {{name}} </p>
			<p> {{numbers}} </p>
			<!--<p> {{date_value}} </p>
			<ul>
				{% for date in date_value %}
					<li> {{date.date_value}} </li>
				{% endfor%}
			</ul>-->
			<ul>
				{% for num in numbers %}
					<li> {{num}} </li>
				{% endfor%}
			</ul>
		</div>
    {% endblock %}
</body>
</html>
