{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    <head></head>
<body>
    {% block body %}
        <div class="container">
            <h1>Summary</h1>

            <a href="/summary"><button type="button" class="btn btn-primary active">Sum</button></a>
            <a href="/summary-average"><button type="button" class="btn btn-primary">Average</button></a>

            <table class="table">
                <thead>
                    <tr>
                        <td><strong>Site</strong></td>
                        <td><strong>A Value</strong></td><td><strong>B Value</strong></td>
                    </tr>
                </thead>
                
                    <tr>
                        <td>Demo Site</td>
                        <td>52.00</td>
                        <td>196.00</td>
                    </tr>
                
                    <tr>
                        <td>ABC Site</td>
                        <td>5.00</td>
                        <td>15.00</td>
                    </tr>
                
                    <tr>
                        <td>XYZ Site</td>
                        <td>10.00</td>
                        <td>30.00</td>
                    </tr>
                
            </table>
        </div>
    {% endblock %}
</body>
</html>
