{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    <head></head>
<body>
    {% block body %}
        <div class="container">
            <h1>Summary</h1>

            <a href="/summary"><button type="button" class="btn btn-primary active">Sum</button></a>
            <a href="/summary-average"><button type="button" class="btn btn-primary">Average</button></a>

            <table class="table">
                <thead>
                    <tr>
                        <td><strong>Site</strong></td>
                        <td><strong>A Value</strong></td><td><strong>B Value</strong></td>
                    </tr>
                </thead>
                
                {% for site in sites %}
                    <tr>
                        <td>{{site.site_name}}</td>
                        <td>{{site.A_value}}</td>
                        <td>{{site.B_value}}</td>
                    </tr>
                {% endfor%}
                
            </table>
        </div>
    {% endblock %}
</body>
</html>
