<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>3MW - Application Task</title>
	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" src="styles/herokuapp.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li role="presentation" >
                        <a href="index.html">Sites</a>
                </li>
                <li class="active" role="presentation" >
                        <a href="summary.html">Summary</a>
                </li>
            </ul>
          </div><!--/.nav-collapse -->
      </nav>



    <div class="container">
        <h1>Summary</h1>

          <a href="#"><button type="button" class="btn btn-primary active">Sum</button></a>
          <a href="#"><button type="button" class="btn btn-primary">Average</button></a>

        <table class="table">
            <thead>
                <tr>
                    <td><strong>Site</strong></td>
                    <td><strong>A Value</strong></td><td><strong>B Value</strong></td>
                </tr>
            </thead>
            
                <tr>
                    <td>Demo Site</td>
                    <td>52.00</td>
                    <td>196.00</td>
                </tr>
            
                <tr>
                    <td>ABC Site</td>
                    <td>5.00</td>
                    <td>15.00</td>
                </tr>
            
                <tr>
                    <td>XYZ Site</td>
                    <td>10.00</td>
                    <td>30.00</td>
                </tr>
            
        </table>
    </div>
</body>
</html>
